.numbers {
	display: flex;
	text-align: center;
	align-items: center;
	margin: 10px 0 10px 20px;
}

.number {
	width: 3em;
	height: 3em;
	border: 0.5px solid;
	background-color: #f87d7d;
	border-radius: 100%;
	margin: auto 10px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}